{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
  About Us
{% endblock title %}



{% block content %}

    <div class="container-fluid">
        <div class="jumbotron rounded-3 m-1" style="background: url('/static/bg_team.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="font-size: 60; line-height: 1.6;"><b><i>About us</i></b></h1>
                <hr class="my-4">
                <br>
                <div class="row">
                    <div class="col-xl-8">
                        <p class="lead col-xl-10" style="text-align: justify; text-justify: inter-word;">At Skaaltec, our extensive 
                            scientific and technical expertise and our 
                            dedication will make cutting-edge rehabilitation 
                            systems widely accessible to patients in need.</p>
                        <br>
                        <p class="lead col-xl-10" style="text-align: justify; text-justify: inter-word;">
                            The vision of SmartVNS arose from recognising clear gaps in the 
                            current state of the art for stroke neurorehabilitation. As a team 
                            of neuroscientists and engineers, with a network of clinicians in the 
                            field of brain physiology and neuroengineering, we became aware that 
                            existing neural stimulation therapies of stroke rehabilitation were 
                            either ineffective, invasive, expensive, or too cumbersome for patient 
                            use. As experts in the field of motor control and brain manipulations, we 
                            found that there are no existing solutions to pair neural stimulation 
                            directly with neurally-relevant movement-derived signals in the brain, 
                            which are essential for motor learning and motor recovery. Furthermore, 
                            we noticed there is a lack of effective devices (both invasive and 
                            non-invasive) that promote long-term neural plasticity and/or 
                            recruitment of other motor control pathways essential for recovery of 
                            motor function. Finally, we noticed that existing solutions for neural 
                            stimulation in stroke rehabilitation can only be started months-years 
                            after the initial infarct, which miss the critical window for stroke 
                            recovery believed to be in the first days to weeks after the infarct.
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="row m-3">

        </div>


        <div class="container">
            <div class="row m-4" style="text-align: center;">
                <h3 style="text-align: center; font-size: 45; line-height: 1.6;"><i><b>Meet the team</b></i></h3>
                <p></p>
                <p></p>
            </div>

            <div class="row m-4">
                <div class="col-xl-4 col-md-12" style="text-align: center;">
                    <img src="{% static 'PV_team.png'%}" style="object-fit: contain;" height="300">
                </div>
                <div class="col-xl-8 col-md-12">
                    <br>
                    <h5 style="color: rgb(192, 0, 14); line-height: 1.6;"><b>Paulius Viskaitis</b></h5>
                    <h6 style="color: grey;">CEO</h6>
                    <p style="text-align: justify; text-justify: inter-word;">In the dynamic world of startups, the role of a CEO is undeniably pivotal, 
                        and Paulius Viskaitis's leadership at Skaaltec exemplifies this significance. 
                        As the captain of the ship, Paulius Viskaitis's vision, determination, 
                        and strategic acumen set the course for Skaaltec's journey. 
                        With unwavering commitment, Paulius Viskaitis fosters a culture of innovation, resilience, 
                        and adaptability, inspiring every member of the Skaaltec family to push the boundaries of what's possible.</p>
                </div>
            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-4">
                <div class="col-xl-4 col-md-12" style="text-align: center;">
                    <img src="{% static 'DD_team.png'%}" style="object-fit: contain;" height="300">
                </div>
                <div class="col-xl-8 col-md-12">
                    <br>
                    <h5 style="color: rgb(192, 0, 14); line-height: 1.6;"><b>Dane Doonegan</b></h5>
                    <h6 style="color: grey;">CTO</h6>
                    <p style="text-align: justify; text-justify: inter-word;">In the ever-evolving landscape of modern startups, the role 
                        of a CTO is equally vital, and Dane Doonegan's contribution to Skaaltec 
                        is nothing short of transformative. As the Chief Technology 
                        Officer, Dane Doonegan is the mastermind behind the technical architecture 
                        that powers Skaaltec's innovative solutions. His technical prowess and 
                        strategic thinking are the driving forces behind the company's 
                        product development and technological innovation. Dane Doonegan's leadership 
                        ensures that Skaaltec remains at the forefront of cutting-edge technology, 
                        enabling the startup to offer unique and competitive offerings to its 
                        customers.</p>
                </div>
            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-4">
                <div class="col-xl-4 col-md-12" style="text-align: center;">
                    <img src="{% static 'OL_team.png'%}" style="object-fit: contain;" height="300">
                </div>
                <div class="col-xl-8 col-md-12">
                    <br>
                    <h5 style="color: rgb(192, 0, 14); line-height: 1.6;"><b>Olivier Lambercy</b></h5>
                    <h6 style="color: grey;">Rehabilitation Engineer</h6>
                    <p style="text-align: justify; text-justify: inter-word;">In the realm of rehabilitation engineering, Oliver Lambercy plays an irreplaceable 
                        role in guiding and supervising the crucial work at Skaaltec. 
                        As the Rehabilitation Engineer overseeing the development of innovative solutions, 
                        Oliver Lambercy brings a wealth of expertise and a compassionate perspective to the team. 
                        His deep understanding of assistive technologies and his commitment to enhancing 
                        the lives of individuals with disabilities drive Skaaltec's mission to make a meaningful impact. 
                        His ability to collaborate with interdisciplinary teams and bridge the gap between 
                        technology and rehabilitation expertise is instrumental in delivering effective solutions.</p>
                </div>
            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row my-4">
                <div class="row my-5" style="text-align: center;">
                   <div class="col-xl-12">
                    <h3 style="text-align: center; font-size: 45;"><i><b>Our Advisors</b></i></h3>
                   </div>
                </div>
                <div class="row m-3">
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'DN_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Prof Denis Burdakov </h5>
                        <h6 style="color: grey;">Neuroscientist</h6>
                        <br>
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'RG_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Prof Roger Gassert </h5>
                        <h6 style="color: grey;">Rehabilitation Engineer</h6>
                        <br>
                    </div>
                </div>
                <div class="row m-2"></div>
                <div class="row m-3">
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'CEA_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Dr Chris Easthope Awai</h5>
                        <h6 style="color: grey;">Rehabilitation Researcher</h6>
                        <br>
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'MB_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Dr Meret Branscheidt</h5>
                        <h6 style="color: grey;">Clinical Rehabilitation Expert</h6>
                        <br>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'MM_team.jpg'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Dr Michele Magno</h5>
                        <h6 style="color: grey;">Electonics Engineer and Microcontroller Expert</h6>
                        <br>
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'AR_team.jpg'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Andrea Ronco</h5>
                        <h6 style="color: grey;">Sensor and Microcontroller Integration Expert</h6>
                        <br>
                    </div>
                </div>
                <div class="row m-2"></div>
                <div class="row m-3">
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'HV_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Dr Heiko Visarius</h5>
                        <h6 style="color: grey;">Medtech Expert</h6>
                        <br>
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'NPR_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Nila-Pia Rähle</h5>
                        <h6 style="color: grey;">Regulatory Affairs Expert</h6>
                        <br>
                    </div>
                </div>
                <div class="row m-2"></div>
                <div class="row m-3">
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'KB_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Dr Kaspar Binz</h5>
                        <h6 style="color: grey;">Serial Founder in Life Sciences</h6>
                        <br>
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <img src="{% static 'AS_team.png'%}" style="object-fit: contain;" height="200">
                    </div>
                    <div class="col-xl-3 col-md-12" style="text-align: center;">
                        <br>
                        <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Anil Sethi</h5>
                        <h6 style="color: grey;">Serial Entrepreneur</h6>
                        <br>
                    </div>
                </div>
            </div>

            <div class="row m-2">

            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-2">

            </div>

        </div>

        <div class="jumbotron rounded-3 m-1" style="background: url('/static/bg_team.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="line-height: 1.6;"><b>Partners and Funding</b></h1>
                <br>
                <hr class="my-4">
                <br>
                <p class="lead col-xl-8" style="text-align: justify; text-justify: inter-word;">We extend our heartfelt gratitude and immense appreciation to our esteemed partners, 
                    whose unwavering support has been instrumental in fueling Skaaltec's journey 
                    of innovation and growth. Relab, with their dedication to rehabilitation 
                    technology, has been an invaluable collaborator, bringing expertise that 
                    has enriched our offerings. The ETH Foundation's commitment to advancing 
                    science and technology has provided us with a strong foundation upon which 
                    to build our vision. Venture Kick and Venture Lab's incubation and funding 
                    support have been crucial in propelling our startup to new heights. Innosuisse's 
                    unwavering belief in our mission has fueled our innovation engine, 
                    while Zuhlke's technical expertise has paved the way for groundbreaking 
                    solutions. Bridge's strategic insights and industry connections have 
                    provided us with valuable opportunities for growth. Together, these 
                    visionary partners have played an indispensable role in Skaaltec's success, and we 
                    look forward to continuing our collective journey of making a meaningful impact 
                    on society through cutting-edge rehabilitation technology. Thank you for your 
                    unwavering support and shared commitment to our mission.</p>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="container">
            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-2">

            </div>

            <div class="row m-5" style="text-align: center;">
                <img src="{% static 'partners.png' %}">
            </div>

            <div class="row m-2">

            </div>
        </div>



    </div>

{% endblock content %}
