

{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
 Contact Us 
{% endblock title %}



{% block content %}

    <div class="container-fluid">
        <div class="jumbotron m-1" style="background: url('/static/bg_contact.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="font-size: 60;"><b><i>Contact Us</i></b></h1>
                <hr class="my-4">
                <br>
                <div class="row">
                    <div class="col-xl-8">
                        
                        <br>
                        <p class="lead" style="text-align: justify; text-justify: inter-word;">
                            If you're interested in learning more about how Skaaltec can transform your healthcare 
                            practice or if you have any questions about our products and services, please don't hesitate 
                            to get in touch with us. Our team of experts is here to assist you every step of the way. 
                            You can reach us by phone at +0123456789 or via email at skaaltec@info.com. </p>
                            
                        <p class="lead" style="text-align: justify; text-justify: inter-word;">Additionally, we offer a convenient contact form on our website 
                            that allows you to send us an email directly. Simply visit our website and click 
                            on the "Contact Us" section to access this feature. We look forward to hearing 
                            from you and embarking on a journey towards a healthier, more efficient healthcare ecosystem together.</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="row m-3">

        </div>


        <div class="container">
            <div class="row m-4">
                
            </div>

            <div class="row m-4 ">
                <div class="col-xl-3"></div>
                <div class="col-xl-6 text-center">
                    <h5 style="color: rgb(192, 0, 14); line-height: 1.6;">Contact Us</h5>
                    <br>
                    <p style="text-align: justify; text-justify: inter-word;">Fill the form below. We are going to contact You a soon as possible!</p>
                     <!-- Default form contact -->
                    <form class="text-center" action="/contact/" method="post">
                        {% csrf_token %}
                        <div class="col-xl-6" style="text-align: center;">
                            <table class="align-self-center">
                                {{ form.as_table }}
                            </table>
                        </div>
                        <br>
                        <!-- Send button -->
                        <button class="btn btn-light btn-block gradient-custom-2 text-white rounded-3" type="submit">Send</button>

                    </form>
                    <!-- Default form contact -->
                </div>
                <div class="col-xl-3"></div>
            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>

            

            <div class="row m-2">

            </div>
        </div>



    </div>

{% endblock content %}
