{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
    Homepage
{% endblock title %}



{% block content %}

    <div class="container-fluid">
        <div class="jumbotron m-1 rounded-3 rounded-3" style="background: url('/static/bg_main.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="font-size: 60;"><b><i>We are Skaaltec</i></b></h1>
                <hr class="my-4">
                <br>
                <p class="lead col-md-12"><i>What we stand for:</i></p>
                <br>
                <p class="lead col-xl-8 col-md-12">The company name “Skaaltec” combines a cheerful wish (in Scandinavian) for good health with the technology. <br>This is 
                    exactly the mission of Skaaltec - to provide advanced neuroscience-inspired technology 
                    solutions for improved health in an accessible way for everyone.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="row m-3">

        </div>


        <div class="container">

            <div class="row m-3">

            </div>

            <div class="row m-4">
                
                <div class="container m-4 rounded-3" style="background: url('/static/pro.png')no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                    <div class="text-light m-5" style="text-align: center;">
                        <br>
                        <br><br>
                        <br><br>
                        <br>
                        <h3 style="font-size: 35; color: rgba(192, 0, 14, 1); font-weight: 750;"><i><b>The Problem</b></i></h3>
                        <br><br>
                        <br>
                        <p style=" text-align: center; font-weight: 600;">
                            Stroke is the leading cause of disability globally, without over 100 million survivors who struggle with everyday movements due to brain neural circuit damage.
                            Physical therapy, which is the current standard of stroke recovery, doesn't directly address the core issue - the injured brain motor pathways, and it's primarily limited to short clinic stays.
                            The available tools in the clinics are expensive, complex, are difficult into setup and integrate into clinical workflows. Situation is even worse after the patients are released home - currently, there are no advanced tools available for neural rehabilitation at home at all.
                        </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="row m-4">
                </div>

                <div class="container m-4 rounded-3" style="background: url('/static/sol.png')no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
                    <div class="text-dark m-5" style="text-align: center;">
                        <br>
                        <br><br>
                        <br><br>
                        <br>
                        <h3 style="font-size: 35; color:  rgba(192, 0, 14, 1);font-weight: 750;"><i><b>Our Solution</b></i></h3>
                        <br><br>
                        <br><br>
                        <br>
                        <br>
                        <p style="text-align: center; font-weight: 600;">
                            We seek to tackle all of these problems of neurorehabilitation head on and in a single solution - SmartVNS.
                            It appears much as a common smartwatch and an earpiece, and may even be difficult to notice.
                            Despite this SmartVNS is in fact a cutting edge brain-targeted rehabilitation system.
                            It's able to continuously track patient's movement and direct stimulation of an important Vagus nerve with just small electric pulses and without any surgery.
                            All of this packed into a small, easy to use and affordable system.
                        </p>
                        <br>
                        <br>
                    </div>
                </div>

            </div>


            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-4">
                
                <div class="col-xl-3">

                </div>

                <div class="col-xl-6 col-md-12 my-1">
                    <h5 style="color: rgb(192, 0, 14); font-size: xx-large; text-align: center;">Introducing SmartVNS</h5>
                    <br>
                    <p style="text-align: center;">SmartVNS is your comprehensive solution for post-stroke rehabilitation, 
                        offering a new level of support and progress tracking.</p>
                </div>

                <div class="col-xl-3">
                    
                </div>

            </div>

            <div class="row m-2" style="text-align: center;">
                <div class="col-xl-12 align-self-center">
                    <a href="{% url 'solutions' %}" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3">Find more about it</a>
                </div>
            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-2">
            </div>

        </div>

        <div class="jumbotron m-1 rounded-3" style="background: url('/static/bg_main.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <div class="row m-4">
                    <div class="col-xl-6">
                        <br>
                        <br>
                        <br>
                        <h1 class="display-4"><b>Awards</b></h1>
                        <br>
                        <hr class="my-4">
                        <p class="lead">Join our remarkable journey as we proudly emerge as winners in prestigious programs like the Pioneer Fellowship from ETH Zürich, 
                            the Bridge proof of concept grant sponsored by the Swiss National Science Foundation and Innosuisse, 
                            and stages 1 and 2 of the game-changing Venture Kick model. Our commitment to innovation doesn't stop there 
                            - we've also received invaluable initial coaching support from Innosuisse, and secured a substantial 20,000 
                            CHF worth of product scale-up assistance at Zuhlke. Discover how we're turning groundbreaking ideas into 
                            thriving successes, and be part of our exciting story.</p>
                        <br>
                        <div class="row m-4">
                            <div class="row m-2">
                                <div class="col-xl-4">
                                    <a href="{% url 'aboutus' %}" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3 my-2">About Us</a>
                                </div>
                                <div class="col-xl-2">
                                    
                                </div>
                                <div class="col-xl-4">
                                    <a href="{% url 'contact' %}" class="btn btn-light btn-block gradient-custom-2 text-white rounded-3 my-2">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <br>
                        <br>
                        <br>
                        <div class="container">
                            <div style="text-align: center;" class="m-2">
                                <img src="{% static 'ethfoun.png'%}" style="object-fit: contain; max-width:200;">
                            </div>
                            <br>
                            <div style="text-align: center;" class="m-2">
                                <img src="{% static 'bridge.png'%}" style="object-fit: contain; max-width:200;">
                            </div>
                            <div style="text-align: center;" class="m-2">
                                <img src="{% static 'innosuisse.png'%}" style="object-fit: contain; max-width:200;">
                            </div>
                            <div style="text-align: center;" class="m-2">
                                <img src="{% static 'venturekick.png'%}" style="object-fit: contain; max-width:200;">
                            </div>
                            <div style="text-align: center;" class="m-2">
                                <img src="{% static 'zuhlke.png'%}" style="object-fit: contain; max-width:150;">
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                
                <div class="row m-2">

                </div>

            </div>
        </div>

        <div class="row m-2">
        </div>



    </div>

{% endblock content %}
