{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
    Homepage
{% endblock title %}



{% block content %}

    <div class="container-fluid">
        <div class="jumbotron m-1 rounded-3 rounded-3" style="background: url('/static/bg_news.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="font-size: 60;"><b><i>News from SKAALTEC</i></b></h1>
                <hr class="my-4">
                <br>
                <p class="lead col-xl-8 col-md-12" style="text-align: justify; text-justify: inter-word;">
                    Introducing our extraordinary news hub! Discover a world of innovation and excitement in just one click. 
                    Our meticulously crafted website page is your gateway to the latest updates and groundbreaking discoveries.
                    Immerse yourself in a wealth of industry news, as we bring you exclusive insights, expert opinions, 
                    and game-changing advancements. Stay ahead of the curve as our dedicated team curates the most 
                    cutting-edge developments, buzzing trends, and thought-provoking features. With our news section, 
                    we transform information into inspiration, empowering you to navigate the ever-evolving landscape 
                    of innovation effortlessly. Reimagine what's possible and unlock a universe of possibilities on 
                    our vibrant news platform. Experience a refreshing dose of creativity that will revolutionize the 
                    way you perceive news. Come, be a part of our captivating journey and witness the unfolding of 
                    endless opportunities. Step into a realm where news meets innovation, and let us fuel your limitless 
                    potential. Together, let's shape the future!
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>

    <div class="row m-2">

    </div>

    <div class="container">

        <div class="row m-4">
            {% for news in all_news %}
                <div class="col-xl-4">
                    <h6 class="my-2" style="color: rgb(192, 0, 14);">{{ news.news_type }}</h6>
                    <hr>
                    <div class="mb-4">
                        <img src="{{ news.image.url }}" class="card-img-top rounded-3" style="object-fit: cover;" height="250">
                    </div>
                    <h5 class=""><i>{{ news.title }}</i></h5>
                    <p style="text-align: justify; text-justify: inter-word;">{{ news.description }}</p>
                    <a href="{{ news.url }}" class="btn btn-light btn-block  gradient-custom-2 text-light" target="_blank">More about it
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                        </svg>
                    </a>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </div>
        
    </div>

{% endblock content %}
