{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}

{% block title %}
  Solutions 
{% endblock title %}



{% block content %}

    <div class="container-fluid">
        <div class="jumbotron rounded-3 m-1" style="background: url('/static/bg_solutions.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1 class="display-4" style="font-size: 60;"><b><i>Solutions</i></b></h1>
                <hr class="my-4">
                <br>
                <div class="row">
                    <div class="col-xl-8">
                        <p class="lead">
                            Are you or a loved one grappling with the aftermath of a stroke, 
                            searching for an innovative and effective solution to aid in your 
                            recovery? SmartVNS, proudly developed in Switzerland within the prestigious 
                            ETH Lab, is here to transform your rehabilitation journey. Utilizing state-of-the-art 
                            sensor technology, SmartVNS offers a comprehensive approach to stroke recovery like no other.</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="row m-3">

        </div>


        <div class="container">
            <div class="row m-4">
                <div class="col-xl-4 col-md-12" style="text-align: center;">
                    <img src="{% static 'smartvns.gif'%}" style="object-fit: contain;" height="300">
                </div>
                <div class="col-xl-8 col-md-12">
                    <h2 style="color: rgb(192, 0, 14);"><b>What is SmartVNS?</b></h2>
                <br>
                <br>
                <br>
                <p>SmartVNS is a groundbreaking rehabilitation system that harnesses 
                    the power of real-time motion tracking and non-invasive brain stimulation to 
                    enhance your recovery. Designed and produced in the heart of Switzerland, 
                    SmartVNS combines Swiss precision engineering with cutting-edge medical technology 
                    to provide a rehabilitation experience that is tailored to your unique needs.</p>
                </div>
            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>

            <div class="row m-4">

                <div class="col-xl-4 col-md-12 my-3" style="text-align: center;">
                    <img src="{% static 'pplan.png' %}" style="object-fit: contain;" height="300">
                    <br>
                    <h4 style="color: rgb(192, 0, 14);">Personalized Recovery</h4>
                    <br>
                    <p><i>Tailored therapy plans</i></p>
                </div>

                <div class="col-xl-4 col-md-12 my-3" style="text-align: center;">
                    <img src="{% static 'smint.png' %}" style="object-fit: contain;" height="300">
                    <br>
                    <h4 style="color: rgb(192, 0, 14);">Seamless Integration</h4>
                    <br>
                    <p><i>Easy and quick to deploy in the clinic without alteration to the workflows. </i></p>
                </div>

                <div class="col-xl-4 col-md-12 my-3" style="text-align: center;">
                    <img src="{% static 'anywt.png' %}" style="object-fit: contain;" height="300">
                    <br>
                    <h4 style="color: rgb(192, 0, 14);">Anywhere, Anytime</h4>
                    <br>
                    <p><i>Rehabilitation at home or in the clinic.</i></p>
                </div>

            </div>

            <div class="row m-4">

                <div class="col-xl-1 col-md-12">
                    
                </div>

                <div class="col-xl-4 col-md-12 my-3" style="text-align: center;">
                    <img src="{% static 'safeaff.png' %}" style="object-fit: contain;" height="300">
                    <br>
                    <h4 style="color: rgb(192, 0, 14);">Safe & Affordable</h4>
                    <br>
                    <p><i>Cutting-edge care without the high costs</i></p>
                </div>

                <div class="col-xl-2 col-md-12">

                </div>

                <div class="col-xl-4 col-md-12 my-3" style="text-align: center;">
                    <img src="{% static 'pplan.png' %}" style="object-fit: contain;" height="300">
                    <br>
                    <h4 style="color: rgb(192, 0, 14);">Engaging & Interactive</h4>
                    <br>
                    <p><i>Connect with therapists remotely and stay motivated.</i></p>
                </div>

                <div class="col-xl-1 col-md-12">
                    
                </div>

            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>            

            <div class="row m-2">

            </div>

        </div>

        <div class="jumbotron rounded-3 m-1" style="background: url('/static/bg_solutions.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            <div class="container text-dark">
                <br>
                <br>
                <h1 class="display-4"><b>Skaaltec Portals</b></h1>
                <br>
                <hr class="my-4">
                <br>
                <p class="lead col-xl-8">In today's fast-paced world, data is the lifeblood of businesses, driving informed decision-making and innovation. Skaaltec, at the forefront of technological advancement, is proud to present a groundbreaking solution that harnesses the power of data from sensors, seamlessly integrating it through cloud technology, and delivering actionable insights through our powerful portals.</p>
                <br>
                <p class="lead col-xl-8">Data from sensors is the hidden treasure trove that holds invaluable information about your operations, processes, and assets. However, without the right tools and infrastructure, harnessing this data can be a daunting challenge. Skaaltec simplifies this process by offering a comprehensive solution that streamlines data acquisition from healthcare sensors, like SmartVNS.</p>
                <br>
                <br>
            </div>
        </div>

        <div class="row m-2">

        </div>

        <div class="container">

            <div class="row m-4">
                <div class="my-3" style="text-align: center;">
                    <img src="{% static 'structure.png' %}" style="object-fit: contain;" height="450">
                </div>
            </div>

            <div class="row m-3">
                <hr class="my-4">
            </div>   

            <div class="row m-4">
                <div class="col-xl-2 col-md-12">
                    
                </div>
                <div class="col-xl-8 col-md-12 my-3" style="text-align: center;">
                   <h3 style="color: rgb(192, 0, 14);">Portal architecture</h3>
                   <br>
                   <p>At the core of our portal system lies a streamlined data architecture designed to efficiently collect, process, and store healthcare information. This architecture seamlessly integrates sensor data into the cloud, ensuring secure transmission and easy access for patients and therapists. Patient data, including medical records and session details, is organized and safeguarded within this architecture. The structured and secure data framework enables the portal system to deliver real-time insights, fostering informed decision-making and personalized care. With our robust data architecture, we ensure that the portals act as a secure gateway to empower both patients and therapists, revolutionizing the healthcare experience.</p>
                </div>
                <div class="col-xl-2 col-md-12">
                    
                </div>
            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>       
            
            <div class="row m-4">
                <div class="col-xl-2 col-md-12 my-2">
                    
                </div>
                <div class="col-xl-8 col-md-12 my-3" style="text-align: center;">
                   <h3 style="color: rgb(192, 0, 14);">Patient Portal</h3>
                   <br>
                   <p>Our portal system serves as the central hub for patients and therapists, offering a seamless interface for accessing critical information and enhancing healthcare experiences. Patients gain convenient access to their personal health data, including medical records and treatment progress. This transparency empowers patients to make informed decisions and actively engage in their care.</p>
                </div>
                <div class="col-xl-2 col-md-12">
                    
                </div>
            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>  

            <div class="row m-4">
                <div class="col-xl-2 col-md-12 my-2">
                    
                </div>
                <div class="col-xl-8 col-md-12 my-3" style="text-align: center;">
                   <h3 style="color: rgb(192, 0, 14);">Therapist Portal</h3>
                   <br>
                   <p>For therapists, these portals provide a comprehensive view of patient history and real-time data from sessions. This data-driven approach enables therapists to tailor treatment strategies, monitor outcomes, and maintain secure communication with patients between sessions. Ultimately, our portals foster better patient outcomes by facilitating personalized care and improved decision-making, making them a cornerstone of modern healthcare architecture.</p>
                </div>
                <div class="col-xl-2 col-md-12">
                    
                </div>
            </div>
            
            <div class="row m-3">
                <hr class="my-4">
            </div>  

            <div class="row m-2">

            </div>

        </div>

    </div>

{% endblock content %}
